[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
ipdb = "*"
flake8 = "*"
rope = "*"
flameprof = "*"
snakeviz = "*"

[packages]
dacite = "*"
pyyaml = "*"
pandas = "*"
plotly = "*"
graphviz = "*"

[requires]
python_version = "3.8"

[scripts]
harness = "python -m harness.main"
harness_profile = "python -m cProfile -o prof harness/main.py"
bpftrace = "python -c 'import harness.main; harness.main.produce_bpftrace_output()'"
debug = "python -m ipdb harness/main.py"
